<h2>My Admin Profile</h2>


  <br>
  <p>
    <%= gravatar_image_tag(@admin.email) %>
  </p>
  <br>
  <br>



<%= form_for @admin, url: admin_setting_path(@admin), html: { method: :PATCH } do |f| %>


  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id, :readonly => true %>
  </div>

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname, autofocus: true, :class => "fullfield" %>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, :class => "fullfield" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "Update Profile", :class => 'btn btn-primary' %>
  </div>

  
<% end %>

<br>
<br>
<br>
<br>





<h4>Cancel Account</h4>
<%= button_to "Cancel", deactivate_admin_path(@admin), data: { confirm: "Are you sure?" }, method: :patch, class: 'btn btn-xs btn-danger', title: 'Cancel', rel: 'tooltip' %>







<br>
<br>
<%= link_to "Back", :back %>
