<h2>Admin Profile</h2>


  <br>
  <p>
    <%= gravatar_image_tag(@admin.email) %>
  </p>
  <br>
  <br>



<%= form_for @admin, url: admin_setting_path(@admin), html: { method: :PATCH } do |f| %>


  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id, :readonly => true %>
  </div>

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname, autofocus: true, :class => "fullfield" %>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, :class => "fullfield" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit "Update Profile", :class => 'btn btn-primary' %>
  </div>

  
<% end %>

<br>
<br>




<h3>Delete Account</h3>

<p><%= button_to "Delete Account", registration_path(resource_name), :class => 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %></p>


<br>
<br>
<%= link_to "Back", :back %>
