
  <br>
<p>
  <%= gravatar_image_tag(@admin.email) %>
</p>
  <br>
  <br>

<p>
  <strong>Admin ID:</strong>
  <%= @admin.id %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @admin.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @admin.lastname %>
</p>

<br>





<%= link_to 'Back', admin_settings_path %>

