<li class="list-group-item task-notepad">

  <% if task.task_status == true %>
    <%= link_to toggle_task_path(task), remote: true, method: :put do %>
      <input type="checkbox" id="task_status_checkbox" checked="checked">
    <% end %>  
    <span style="text-decoration: line-through">
      <%= link_to edit_task_path(task), remote: true do %>
        <%= task.title %>
      <% end %>
    </span>
  <% else %>
    <%= link_to toggle_task_path(task), remote: true, method: :put do %>
      <input type="checkbox" id="task_status_checkbox">
    <% end %>
    <%= link_to edit_task_path(task), remote: true do %>
      <%= task.title %>
    <% end %>
  <% end %>

  <span class="crossmark-delete-button">
    <%= link_to task, remote: true, method: :delete do %>
      <i class="fa fa-times"></i>
    <% end %>
  </span>

</li>




