<div class="main-login col-sm-4 col-sm-offset-4">
<div class="box-login" style="display: block;">

<h2 class="text_center">User Login</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class => "fullfield" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "fullfield" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= button_tag(type: 'submit', class: "btn btn-primary pull-right") do %>
        Login <i class="fa fa-arrow-circle-right"></i>
    <% end %>
  </div>

<% end %>



<%= render "devise/shared/links" %>


</div>
</div>