<%= javascript_include_tag "analytics" %>
<br>
<br>
<p><%= @software_tally %></p>
<br>
<p><%= @hardware_tally %></p>
<br>
<p><%= @billing_tally %></p>
<br>
<p><%= @hr_tally %></p>
<br>
<p><%= @other_tally %></p>
<br>
<br>
<br>
<br>
<br>
<div id="chart_container" style="width:500px; height:500px; margin: 0 auto"></div>