<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(@user) do |f| %>


  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id, :readonly => true %>
  </div>



  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname, autofocus: true, :class => "fullfield" %>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, :class => "fullfield" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: 'btn btn-xs btn-default' %>
  </div>

  
<% end %>


<br>
<br>


<% if @user.activation_status == true %>

<h3>Deactivate Account</h3>

       

              <%= button_to "Deactivate", deactivate_user_path(@user), data: { confirm: "Are you sure?" }, method: :patch, class: 'btn btn-xs btn-default', title: 'Deactivate', rel: 'tooltip' %>


<% else %>

<h3>Reactivate Account</h3>

              <%= button_to "Reactivate", reactivate_user_path(@user), data: { confirm: "Are you sure?" }, method: :patch, class: 'btn btn-xs btn-default', title: 'Reactivate', rel: 'tooltip' %>

<% end %>




<br>
<br>
<br>




<%= link_to "Back", :back %>
