<nav class="admin-navbar navbar navbar-fixed-top" role="navigation">



    <div class="navbar-header">
          <a class="navbar-brand" href="/admin_dashboard">Auxilia Admin</a>
    </div>











    <ul class="nav admin-navbar navbar-nav navbar-right top-nav">


          <% if admin_signed_in? %>







            <li class="dropdown">

              <%= link_to tasks_path, :class => "dropdown-toggle navtip", :'data-close-others' => "true", :'data-hover' => "dropdown", :title => 'Tasks', :'data-toggle' => "dropdown" do %>
                <i class="fa fa-list">

                  <% if @pending_task_count > 0 %>
                      <span class="badge"><%= @pending_task_count %></span>
                  <% end %>

                </i>
              <% end %>



              <ul class="dropdown-menu todo">
                <li>
                  <span class="dropdown-menu-title">You have <%= @pending_task_count %> pending <%= "task".pluralize(@pending_task_count) %></span>
                </li>
                <li>
                  <div class="drop-down-wrapper ps-container">
                    <ul>

                        <% @recent_pending_tasks.each do |task| %>

                          <li>
                            <span><%= task.title %></span>
                          </li>

                        <% end %>
                    </ul>
                  </div>
                </li>
                <li class="view-all">
                  <%= link_to tasks_path do %> 
                    See all tasks <i class="fa fa-arrow-circle-o-right"></i>
                  <% end %>
                </li> 
              </ul>



            </li>














          <li class="dropdown">


          <%= link_to admin_dashboard_activity_path, :class => "navtip", :'data-close-others' => "true", :'data-hover' => "dropdown", :title => "Activity" do %>
                <span class="octicon octicon-pulse"></span>               
          <% end %>



            </li>





















            <li class="dropdown">


          <%= link_to conversations_path, :class => "dropdown-toggle navtip", :'data-close-others' => "true", :'data-hover' => "dropdown", :'data-toggle' => "dropwdown", :title => 'Inbox' do %>
              <span class="octicon octicon-inbox">
                  <% @unread_count= @mailbox.inbox(:read => false).count(:id, :distinct => true) %>
                  <% if @unread_count > 0 %>
                  <span class="badge"><%= @unread_count %></span>
                  <% end %>
              </span>
          <% end %>

            </li>





          <% end %>
















      <li class="dropdown">
        
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <% if admin_signed_in? %>
            <img class="round_gravatar navgrav-margin" style="background:transparent url(<%= gravatar_image_url(current_admin.email, size: 25) %>) 0px 0px no-repeat; width:25px; height:25px;"></img>
            <span style="display:inline-block; vertical-align: middle; font-size: 12px; line-height: 13px">Administrator<br>Main Menu</span><span class="caret"></span></a>
          <% else %>
            <span>Main Menu</span><span class="caret"></span></a>
          <% end %>





        <ul class="dropdown-menu" role="menu">
          <% if admin_signed_in? %>
                <li><%= link_to "Ticket Manager", admin_dashboard_path %></li>
                <li><%= link_to "Metrics", admin_dashboard_metrics_path %></li>
                <li><%= link_to 'Task Manager', tasks_path %></li>
                <li><%= link_to 'Activity Feed', admin_dashboard_activity_path %></li>
                <li><%= link_to 'Inbox', conversations_path %></li>
                <li><%= link_to 'Manage Users', users_path %></li>
                <li><%= link_to 'Manage Deactivated Users', deactivated_users_path %></li>
                <% if current_admin.id == 20583 %>
                  <li><%= link_to 'Manage Admins', admins_path %></li>
                <% end %>
                <li><%= link_to 'My Settings', admin_settings_path %></li>
                <li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
          <% else %>
            <li><a href="/">User Login</a></li>
            <li><a href="/admins/sign_in">Admin Login</a></li>
          <% end %>
        </ul>
      </li>

    </ul>








<% if admin_signed_in? %>


           <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <%= link_to admin_dashboard_path do %>
                          <i class="fa fa-fw fa-dashboard"></i> Dashboard
                        <% end %>
                    </li>




                    <li><%= link_to "Ticket Manager", admin_dashboard_path %></li>
                    <li><%= link_to "Metrics", admin_dashboard_metrics_path %></li>
                    <li><%= link_to 'Task Manager', tasks_path %></li>
                    <li><%= link_to 'Activity Feed', admin_dashboard_activity_path %></li>
                    <li><%= link_to 'Inbox', conversations_path %></li>
                    <li><%= link_to 'Manage Users', users_path %></li>
                    <li><%= link_to 'Manage Deactivated Users', deactivated_users_path %></li>

                    <% if current_admin.id == 20583 %>
                    <li><%= link_to 'Manage Admins', admins_path %></li>
                    <% end %>

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->



<% end %>












 





</nav>

















