<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">



          <a class="navbar-brand" href="/admin_dashboard">Auxilia Admin</a>






    </div>

    <ul class="nav navbar-nav navbar-right">


          <% if admin_signed_in? %>







            <li class="dropdown">

              <%= link_to to_dos_path, :class => "dropdown-toggle navtip", :'data-close-others' => "true", :'data-hover' => "dropdown", :title => 'Tasks', :'data-toggle' => "dropdown" do %>
                <i class="fa fa-list"></i>
              <% end %>





              <ul class="dropdown-menu todo">
                <li>
                  <span class="dropdown-menu-title"> You have 12 pending tasks</span>
                </li>
                <li>
                  <div class="drop-down-wrapper ps-container">
                    <ul>
                      <li>
                        <a class="todo-actions" href="javascript:void(0)">
                          <i class="fa fa-square-o"></i>
                          <span class="desc" style="opacity: 1; text-decoration: none;">Staff Meeting</span>
                          <span class="label label-danger" style="opacity: 1;"> today</span>
                        </a>
                      </li>
                      <li>
                        <a class="todo-actions" href="javascript:void(0)">
                          <i class="fa fa-square-o"></i>
                          <span class="desc" style="opacity: 1; text-decoration: none;"> New frontend layout</span>
                          <span class="label label-danger" style="opacity: 1;"> today</span>
                        </a>
                      </li>
                      <li>
                        <a class="todo-actions" href="javascript:void(0)">
                          <i class="fa fa-square-o"></i>
                          <span class="desc"> Hire developers</span>
                          <span class="label label-warning"> tommorow</span>
                        </a>
                      </li>
                      <li>
                        <a class="todo-actions" href="javascript:void(0)">
                          <i class="fa fa-square-o"></i>
                          <span class="desc">Staff Meeting</span>
                          <span class="label label-warning"> tommorow</span>
                        </a>
                      </li>
                      <li>
                        <a class="todo-actions" href="javascript:void(0)">
                          <i class="fa fa-square-o"></i>
                          <span class="desc"> New frontend layout</span>
                          <span class="label label-success"> this week</span>
                        </a>
                      </li>
                      <li>
                        <a class="todo-actions" href="javascript:void(0)">
                          <i class="fa fa-square-o"></i>
                          <span class="desc"> Hire developers</span>
                          <span class="label label-success"> this week</span>
                        </a>
                      </li>
                      <li>
                        <a class="todo-actions" href="javascript:void(0)">
                          <i class="fa fa-square-o"></i>
                          <span class="desc"> New frontend layout</span>
                          <span class="label label-info"> this month</span>
                        </a>
                      </li>
                      <li>
                        <a class="todo-actions" href="javascript:void(0)">
                          <i class="fa fa-square-o"></i>
                          <span class="desc"> Hire developers</span>
                          <span class="label label-info"> this month</span>
                        </a>
                      </li>
                      <li>
                        <a class="todo-actions" href="javascript:void(0)">
                          <i class="fa fa-square-o"></i>
                          <span class="desc" style="opacity: 1; text-decoration: none;">Staff Meeting</span>
                          <span class="label label-danger" style="opacity: 1;"> today</span>
                        </a>
                      </li>
                      <li>
                        <a class="todo-actions" href="javascript:void(0)">
                          <i class="fa fa-square-o"></i>
                          <span class="desc" style="opacity: 1; text-decoration: none;"> New frontend layout</span>
                          <span class="label label-danger" style="opacity: 1;"> today</span>
                        </a>
                      </li>
                      <li>
                        <a class="todo-actions" href="javascript:void(0)">
                          <i class="fa fa-square-o"></i>
                          <span class="desc"> Hire developers</span>
                          <span class="label label-warning"> tommorow</span>
                        </a>
                      </li>
                    </ul>
                  <div class="ps-scrollbar-x-rail" style="width: 270px; display: none; left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 250px; display: none; right: 3px;"><div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div></div></div>
                </li>
                <li class="view-all">
                  <%= link_to to_dos_path do %> 
                    See all tasks <i class="fa fa-arrow-circle-o-right"></i>
                  <% end %>
                </li>
              </ul>




            </li>





































          <li class="dropdown">


          <%= link_to admin_dashboard_activity_path, :class => "dropdown-toggle navtip", :'data-close-others' => "true", :'data-hover' => "dropdown", :'data-toggle' => "dropdown", :title => "Activity" do %>
                <i class="fa fa-bell">
                  <% if @activity_count > 0 %>
                      <span class="badge"><%= @activity_count %></span>
                  <% end %>
                </i>                
          <% end %>






              <ul class="dropdown-menu notifications">
                <li>
                  <span class="dropdown-menu-title">You have <%= @activity_count %> new notifications.</span>
                </li>
                <li>
                  <div class="drop-down-wrapper ps-container">
                    <ul>
                        <%= render_activities @recent_activities %>
                    </ul>
                  </div>







                </li>
                <li class="view-all">

                  <%= link_to admin_dashboard_activity_path do %> 
                    See entire activity feed <i class="fa fa-arrow-circle-o-right"></i>
                  <% end %>
                </li>
              </ul>
            </li>





















            <li class="dropdown">


          <%= link_to conversations_path, :class => "dropdown-toggle navtip", :'data-close-others' => "true", :'data-hover' => "dropdown", :'data-toggle' => "dropwdown", :title => 'Inbox' do %>
                <i class="fa fa-envelope">
                  <% @unread_count= @mailbox.inbox(:read => false).count(:id, :distinct => true) %>
                  <% if @unread_count > 0 %>
                  <span class="badge"><%= @unread_count %></span>
                  <% end %>
                </i>
          <% end %>

            </li>


          <% end %>
















      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">

          <% if admin_signed_in? %>
                <li><%= link_to "Home", admin_dashboard_path %></li>


                  <li><%= link_to "Analysis", admin_dashboard_analytics_path %></li>

                <li><%= link_to 'Activity Feed', admin_dashboard_activity_path %></li>
                <li><%= link_to 'Inbox', conversations_path %></li>
                <li><%= link_to 'Manage Users', users_path %></li>
                <li><%= link_to 'Settings', admin_settings_path %></li>
                <li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
          <% else %>
            <li><a href="/">User Login</a></li>
            <li><a href="/admins/sign_in">Admin Login</a></li>
          <% end %>
        </ul>
      </li>



      <% if admin_signed_in? %>
      <li class="dropdown">

          <%= link_to '#', :class => "dropdown-toggle navtip grav_pad", :'data-close-others' => "true", :'data-hover' => "dropdown", :'data-toggle' => "dropdown", :title => 'Settings' do %>
            <div class="round_gravatar" style="background:transparent url(<%= gravatar_image_url(current_admin.email, size: 25) %>) 0px 0px no-repeat; width:25px; height:25px;"></div>
          <% end %>

      </li>
      <% end %>









    </ul>
  </div>
</nav>





