<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">


          <a class="navbar-brand" href="/">Auxilia Helpdesk</a>




    </div>

    <ul class="nav navbar-nav navbar-right">






          <% if user_signed_in? %>





            <li class="dropdown">





            <li class="dropdown">

          <%= link_to '#', :class => "dropdown-toggle", :'data-close-others' => "true", :'data-hover' => "dropdown", :'data-toggle' => "dropwdown" do %>
                <i class="fa fa-bell">
                  <!-- <% @unread_count= @mailbox.inbox(:read => false).count(:id, :distinct => true) %>
                  <% if @unread_count > 0 %>
                  <span class="badge"><%= @unread_count %></span>
                  <% end %> -->
                </i>
          <% end %>

            </li>









            <li class="dropdown">


          <%= link_to conversations_path, :class => "dropdown-toggle", :'data-close-others' => "true", :'data-hover' => "dropdown", :'data-toggle' => "dropwdown" do %>
                <i class="fa fa-envelope">
                  <% @unread_count= @mailbox.inbox(:read => false).count(:id, :distinct => true) %>
                  <% if @unread_count > 0 %>
                  <span class="badge"><%= @unread_count %></span>
                  <% end %>
                </i>
          <% end %>

            </li>






          <% end %>



  


      <li class="dropdown">


        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <% if user_signed_in? %>
          <img class="round_gravatar navgrav-margin" style="background:transparent url(<%= gravatar_image_url(current_user.email, size: 25) %>) 0px 0px no-repeat; width:25px; height:25px;"></img>
          <% end %>
          <span style="display:inline-block; vertical-align: middle; font-size: 12px; line-height: 13px">Main Menu</span><span class="caret"></span></a>








        <ul class="dropdown-menu" role="menu">
          <% if user_signed_in? %>
                <li><%= link_to "Home", tickets_path %></li>
                <li><%= link_to "Inbox", conversations_path %></li>
                <li><%= link_to "My Account", edit_user_path(current_user.id) %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><a href="/">User Login</a></li>
            <li><a href="/admins/sign_in">Admin Login</a></li>
          <% end %>
        </ul>
      </li>











    </ul>


  </div>
</nav>








