

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<br>

<p>
  <strong>Description:</strong>
  <%= @ticket.description.html_safe %>
</p>

<br>

<p>
  <strong>Category:</strong>
  <%= @ticket.category %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @ticket.user_id %>
</p>


<p>
  <strong>Status:</strong>
  <%= render partial: "shared/status", locals: {ticket_status: @ticket.status} %>
</p>

<br>
<p>
  <strong>Solution:</strong>
  <% if @ticket.solution? %>
    <%= @ticket.solution.html_safe %>
  <% end %>
</p>
<br>

<p>
  <strong>Admin ID:</strong>
  <%= @ticket.admin_id %>
</p>



<% if user_signed_in? %>
<%= link_to 'Back', tickets_path %>
<% elsif admin_signed_in? %>
<%= link_to 'Back', admin_dashboard_path%>
<% end %>