<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ticket.category %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @ticket.user_id %>
</p>


<p>
  <strong>Status:</strong>
  <%= render partial: "shared/status", locals: {ticket_status: @ticket.status} %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @ticket.solution %>
</p>

<p>
  <strong>Admin ID:</strong>
  <%= @ticket.admin_id %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<% if user_signed_in? %>
<%= link_to 'Back', tickets_path %>
<% elsif admin_signed_in? %>
<%= link_to 'Back', admin_dashboard_path%>
<% end %>