<p id="notice"><%= notice %></p>

<h1>Task List</h1>

<table id="to_do_table" class="table table-bordered table-hover" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Notes</th>
      <th>Due date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @to_dos.each do |to_do| %>

      <tr>
        <td><%= to_do.title %></td>
        <td><%= to_do.notes %></td>
        <td><%= to_do.due_date %></td>



        <td>
              <%= link_to to_do, class: 'btn btn-xs btn-default', title: 'Show', rel: 'tooltip' do %>
                <i class="fa fa-eye"></i>
              <% end %>

              <%= link_to edit_to_do_path(to_do), class: 'btn btn-xs btn-default', title: 'Edit', rel: 'tooltip' do %>
                <i class="fa fa-edit"></i>
              <% end %>


              <%= link_to to_do, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-default', title: 'Destroy', rel: 'tooltip' do %>
                <i class="fa fa-trash"></i>
              <% end %>
        </td>



      </tr>




    <% end %>
  </tbody>




</table>

<br>



  <%= link_to new_to_do_path, class: 'btn btn-success btn-newticket' do %>
    <i class="glyphicon glyphicon-plus"></i> New Task
  <% end %>
