

<div class="col-sm-4 col-sm-offset-4">
<!-- start: TEXT FIELDS PANEL -->
<div class="panel panel-default">


<div class="panel-body">


<h2 class="text_center">Reset Password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class => "fullfield" %>
  </div>



  <div class="actions">
    <%= button_tag(type: 'submit', class: "btn btn-primary btn-sm fullfield") do %>
        <i class="fa fa-pencil-square"></i> Reset Password
    <% end %>
  </div>



<% end %>


</div>
</div>
</div>