<!DOCTYPE html>
<html>
  <head>
    <% if admin_signed_in? %>
    <title>Auxilia Administration</title>
    <% else %>
    <title>Auxilia</title>
    <% end %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'tickets'%>
    <%= csrf_meta_tags %>
  </head>
  <body data-no-turbolink>

    <% if admin_signed_in? %>
        <!-- for admin dashboard -->
        <div id="wrapper">
        <%= render 'shared/admin_navigation' %>
    <% else %>
        <%= render 'shared/navigation' %>
    <% end %>






      <% if admin_signed_in? %>
          <!-- wrapper to seperate page from admin dashboard -->
          <div id="page-wrapper">
      <% end %>



    <div id="main-container" class="container-fluid">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>



       <%= yield %>


    </div>


      <% if admin_signed_in? %>
        </div>
      <% end %>      






    </div>
  </body>
</html>